* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* ====================== NAVBAR ======================== */
.navbar {
    height: 80px;
   padding: 0 !important;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    line-height: 80px;
}

.mr-auto {
    margin-left: auto;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #26374D !important;
    font-weight: 600;
    text-align: center;
}

.fa-bars {
    color: #26374D;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* ================================== HEADER ========================================== */

#header {

    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,55,77,0.008841036414565795) 35%);
    color: #fff; */
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}