* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

/* ====================== NAVBAR ======================== */


.navbar {
   padding: 0 !important;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    line-height: 80px;
}

.mr-auto {
    margin-left: auto;
    margin-right: 70px;
}

#nav-bar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #26374D !important;
    font-weight: 600;
    text-align: center;
}

.navbar-nav li a:hover {
    transform: scale(0.8);
    /* transition-duration: 3s; */
    /* transform: translateY(-10px); */
}

/* NEW */


.fa-bars {
    color: #26374D;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* ================================== HEADER ========================================== */

#header {

    /* /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,55,77,0.008841036414565795) 35%); */
    color: #26374D;
    padding-top: 5%;
    /* text-align: center; */
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    font-family: 'Spectral SC', serif;
    
}

.img-move {
    padding: 50px 0 0 15PX;
}

.main-active.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.main-active.btn-first{
    background-color: #26374D;
    color: #fff;
}

.main-active.btn-second {
    background: transparent;
    border: 1px solid
     #26374D;
    color: #333;
}

.main-active.btn:hover{
    background: #26374D;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

/* =================================== ABOUT US ========================================= */

#services {
    padding: 80px 0;
}

.service-img {
    width: 350px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #999;
    height: 300px;
    object-fit: cover;
}

.services {
    padding: 20px;
}

.services h4 {
    color: #26374D;
    font-weight: 600;
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

/* LINE ABOVE OUR SERVICES */
.title::before {
    content:'';
    background: #EFDE0C;
    height: 5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(60px);
    box-shadow: 5px 5px 10px #999;
}

.title {
    color: #26374D;
    font-family: 'Spectral SC', serif;
} 

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    color: #26374D;
}


/* #service {
    padding: 80px;
    background-color: #f8f9fa;
    /* background-image: linear-gradient(to right bottom,  #f5f5f5,  #f5f5f5,  #f5f5f5, #9193a1, #26374d); */
/* } */


/* LINE ABOVE ABOUT US */


/* ============================ PARALLAX ============================ */

#parallax .parallax-one {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(/Images/startup2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax .parallax-two {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(/Images/fist-bump.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* ============================ ABOUT US ============================ */

#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
    text-transform: uppercase;
}

.about-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
    font-family: 'Josefin Sans';
    color: #26374D;
    text-transform: uppercase;
}

/* ============================ OUE PRODUCTS ============================ */

.product-img {
    width: 350px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #999;
    height: 300px;
    object-fit: cover;
}

/* ============================ SOCIAL MEDIA ============================ */

#social-media {
    background: #26374D;
    color: white;
    padding: 100PX 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons i {
    color: #fff;
    width: 60px;
    padding-left: 10px;
    transition: 0.5s;
}

.social-icons a:hover i {
    transform: translateY(-10px);
    color: #EFDE0C;
}


/* ============================ MEDIA QUERIES ============================ */
@media only screen and (max-width: 800px) {

    .mr-auto {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .promo-title {
        text-align: center;
    }

    #header {
        text-align: center;
    }

    .service-img {
        text-align: center;
        padding: 0 5px 0 5PX;
    }
  }


/* @media only screen and (max-width: 600px) {
    

    .promo-title {
        text-align: center;
    }

    #header {
        text-align: center;
    } */
  /* } */