* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

/* ====================== NAVBAR ======================== */


.navbar {
   padding: 0 !important;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    line-height: 80px;
}

.mr-auto {
    margin-left: auto;
}

#nav-bar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #26374D !important;
    font-weight: 600;
    text-align: center;
}

.fa-bars {
    color: #26374D;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

/* ================================== HEADER ========================================== */

#header {

    /* /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,55,77,0.008841036414565795) 35%); */
    color: #26374D;
    padding-top: 5%;
    /* text-align: center; */
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    
}

.img-move {
    padding: 50px 0 0 15PX;
}

.main-active.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.main-active.btn-first{
    background-color: #26374D;
    color: #fff;
}

.main-active.btn-second {
    background: transparent;
    border: 1px solid
     #26374D;
    color: #333;
}

.main-active.btn:hover{
    background: #26374D;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

/* =================================== ABOUT US ========================================= */

#about-us {
    padding: 80px;
    background-color: #d3d3d3;
}

.aboutus-img {
    width: 300px;
    margin-top: 20px;
}

.about-us {
    padding: 20px;
}

.about-us h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

/* LINE ABOVE ABOUT US */
.title::before {
    content:'';
    background: #EFDE0C;
    height: 5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title {
    color: #26374D;
}