*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}
.header {
    height: 100vh;
}

.navbar{
    
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    line-height: 72px;
}
.logo {
    height: 70px;
    padding: 2px 10px;
}
.icon-bar{
    background: #26374D;
}
li a {
    color: #26374D;
}

.nav-center {
    margin: 10px;
}

.main-page{
    margin-top: 80px;
}

.big-text {
    font-size: 52px;
    margin: 20px 0;
    color: #26374D;
    font-family: 'Spectral SC', serif;
}

a.btn{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

a.btn-first{
    background-color: #26374D;
    color: #fff;
}

a.btn-second {
    background: transparent;
    border: 1px solid #26374D;
    color: #333;
}

a.btn:hover{
    background: #26374D;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

banner-info, banner-image{
    margin: 30px 0;
}

@media only screen and (max-width: 600px) {
    body {
      text-align: center;
    }
  }