* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    /* background-color: #26374D; */
}

/* ====================== NAVBAR ======================== */


.navbar {
   padding: 0 !important;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    line-height: 80px;
}

.mr-auto {
    margin-left: auto;
    margin-right: 70px;
}

#nav-bar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #26374D !important;
    font-weight: 600;
    text-align: center;
}

.navbar-nav li a:hover {
    transform: scale(0.8);
    /* transition-duration: 3s; */
    /* transform: translateY(-10px); */
}

/* NEW */


.fa-bars {
    color: #26374D;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

.subnav {
  margin-left: auto;
  margin-right: auto;
}
.subnav li a {
    color: #fff !important;
    font-weight: 600;
    text-align: center;
}

/* ================================== HEADER ========================================== */

#header {

    /* /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,55,77,0.008841036414565795) 35%); */
    color: #26374D;
    padding-top: 5%;
    height: 100vh;

}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    font-family: 'Spectral SC', serif;
    
}

.img-move {
    padding: 50px 0 0 15PX;
}

.main-active.btn{
    margin: 15px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.main-active.btn-first{
    background-color: #26374D;
    color: #fff !important;
    text-align: center;
    margin-bottom: 5px;
}

.main-active.btn-second {
    background: transparent;
    border: 1px solid
     #26374D;
    color: #333;
}

.main-active.btn:hover{
    background: #26374D;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

/* .landing-header {
    text-transform: lowercase;
} */

/* =================================== WHO WE SERVE ========================================= */
#wws {
    padding: 50px 0;
}

#wws-title {
    margin-bottom: 25px;
}
.wws {
    padding: 50px 0;
}
.icon{
    margin-right: 10px;
}

.wws-p {
    margin-top: 45px;
}

#wws-list {
    list-style-position: inside;
    line-height: 400%;
    font-weight: 600;
}



/* =================================== SERVICES ========================================= */

#services {
    padding: 50px 0;
}

.service-img {
    width: 250px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #999;
    height: 300px;
    object-fit: cover;
}

.services {
    padding: 20px;
}

.services h4 {
    color: #26374D;
    font-weight: 600;
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

/* LINE ABOVE OUR SERVICES */
.title::before {
    content:'';
    background: #EFDE0C;
    height: 5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(60px);
    box-shadow: 5px 5px 10px #999;
}

.title {
    color: #26374D;
    font-family: 'Spectral SC', serif;
} 

#our-service {
    margin-top: 25px;
}

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    color: #26374D;
}


/* #service {
    padding: 80px;
    background-color: #f8f9fa;
    /* background-image: linear-gradient(to right bottom,  #f5f5f5,  #f5f5f5,  #f5f5f5, #9193a1, #26374d); */
/* } */


/* LINE ABOVE ABOUT US */


/* ============================ PARALLAX ============================ */

#parallax .parallax-one {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/startup2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax .parallax-two {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/fist-bump.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax .parallax-three {
    padding-top: 360px;
    padding-bottom: 360px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/Handshake.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax .parallax-four {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/plans.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* ============================ ABOUT US ============================ */

#about-us {
    background: #f8f9fa;
    padding-top: 40px;
    text-transform: uppercase;
    margin: auto;
}

#about-mission {
    padding-bottom: 50px;
    background: #f8f9fa;
    /* padding-top: 25px; */
    text-transform: uppercase;
    margin: auto;
}

.about-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    font-family: 'Josefin Sans';
    color: #26374D;
    text-transform: uppercase;
    /* box-shadow: 5px 5px 10px #999; */
}

.about-video {
    padding: 50px 0 0 15PX;
}

.about-paragraph {
    padding: 0 0 50px 15PX;
    margin-bottom: 20px;
}

/* ============================ PRODUCTS LANDING PAGE============================ */

#products-landing {
    background: #f8f9fa;
    padding: 75px 0 50px 0;
    text-transform: uppercase;
    margin: auto;
}

.pl-img {
    height: 400px;
    object-fit: contain; /*or scale-down*/
    padding: 5px 20px 5px 20px;
}

.pl-img-move {
    padding: 75px 10px 0 15PX;
}

.pl-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 14%;
    font-family: 'Josefin Sans';
    color: #26374D;
    text-transform: uppercase;
    /* box-shadow: 5px 5px 10px #999; */
}

.integrations {
    /* padding-bottom: 25px; */
}

.pl-description {

}

video.about-video {
    padding-bottom: 180px;
}

/* ============================ OUR PRODUCTS ============================ */

.card {
    margin-top: 30px;
}

/* a .card1 {
    margin-top: 5px;
} */

.card1 {
    position: absolute;
    bottom: 0;
    right: 39%;
}

.card8 {
    position: absolute;
    bottom: 0;
    right: 39%;
}

.popup-header {
    color: #26374D;
    margin-top: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

.pop-paragraph {
    padding-top: 15px;
}

.popup-info {
    margin-top: 5%;
}


#product {
    padding: 80px 0 80px;
}

.product h4 {
    color: #26374D;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

.card-img-top .product-img {
    height: 100%;
    width: 100%;
}

.product-img {
    height: 250px;
    object-fit: contain; /*or scale-down*/
    padding: 5px 20px 5px 20px;
    /* border: 0.5px solid;
    border-color: black;  */
}

.card {
    box-shadow: 5px 5px 10px #999;
    height: 400px;
}

.card-body{
    background-color: #D3D3D3;
    width: 100%;
}

#bgcover {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;   
    display: none;
    z-index: 95000;
}
.popup{
    position: absolute;
    text-align: center;
    overflow: scroll;
    top: 15%;
    width: 800px;
    height: 500px;
    margin: auto;
    z-index: 99999;
    display: block;
    left:25%;
    right: 25%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 6px 4px #000;
    overflow: hidden;
    padding: 10px 20px 0 20px;
}

#popup8 {
    height: 570px !important;
}

#dejavavooz11-list {
    list-style-position: inside;
}

/* ============================ PRICING ============================ */

#pricing {
    padding: 80px 0 90px;
    padding-top: 180px;
}

/* ============================ CONTACT ============================ */

.jumbotron {
    background-image: url(../Images/Handshake.jpeg);
        padding-top: 360px;
}

/* ============================ PAGINATION ============================ */
.center {
    text-align: center;
  }
  
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #26374D;
    color: white;
    border: 1px solid #26374D;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


/* ============================ SOCIAL MEDIA ============================ */

#social-media {
    background: #26374D;
    color: white;
    padding: 100PX 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons i {
    color: #fff;
    width: 60px;
    padding-left: 10px;
    transition: 0.5s;
}

.social-icons a:hover i {
    transform: translateY(-10px);
    color: #EFDE0C;
}


/* ============================ MEDIA QUERIES ============================ */
@media only screen and (max-width: 1500px) {

    .mr-auto {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .promo-title {
        text-align: center;
    }

    #header {
        text-align: center;
    }

    .service-img {
        text-align: center;
        padding: 0 5px 0 5PX;
    }

    .product img {
        height: 100%;
        width: 100%;
    }

    .about-video {
        max-width: 100%;
        height: auto;
        padding: 50px 0 0 15PX;
   }

    .about-img-move {
        padding: 50px 0 0 15PX;
    }   
  }

  @media only screen and (max-width: 769px) {
    .about-video {
        max-width: 100%;
        height: auto;
        padding: 70px 0 0 15PX;
   }

    .about-paragraph {
        height: auto;
    }

    #about-us {
        background: #f8f9fa;
        padding-top: 25px;
        text-transform: uppercase;
        margin: auto;
    }

    #about-mission {
        padding-bottom: 50px;
        background: #f8f9fa;
        /* padding-top: 25px; */
        text-transform: uppercase;
        margin: auto;
    }
  }