* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    /* background-color: #26374D; */
}

ul, li {
    padding-left: 0px;
    /* margin: 10px 0; */
    line-height: 45px;
}

/* ====================== NAVBAR ======================== */


.navbar {
   padding: 0 !important;
}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
    line-height: 80px;
}

.mr-auto {
    margin-left: auto;
    margin-right: 70px;
}

#nav-bar {
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #26374D !important;
    font-weight: 600;
    text-align: center;
}

.navbar-nav li a:hover {
    transform: scale(0.8);
    /* transition-duration: 3s; */
    /* transform: translateY(-10px); */
}

/* NEW */


.fa-bars {
    color: #26374D;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

.subnav {
  margin-left: auto;
  margin-right: auto;
}
.subnav li a {
    color: #fff !important;
    font-weight: 600;
    text-align: center;
}

/* Product NAV */
.productNav {
    width: 100%;
    height: 55px;
    background-color: #26374D;
}

.productNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.productNav li {
    margin: 0 20px;
    line-height: 55px;
  }

.productNav li a {
    text-decoration: none;
    color: white;
}

.productJump {
    position: relative;
    top: -70px;
}
.productJumpLg {
    position: relative;
    top: -150px;
}
/* ================================== HEADER ========================================== */

#header {

    /* /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,55,77,0.008841036414565795) 35%); */
    color: #26374D;
    padding-top: 5%;
    height: 100vh;

}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    font-family: 'Spectral SC', serif;
    
}

.img-move {
    padding: 50px 0 0 15PX;
}

.main-active.btn{
    margin: 15px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}

.main-active.btn-first{
    background-color: #26374D;
    color: #fff !important;
    text-align: center;
    /* margin-bottom: 5px; */
}

.main-active.btn-second {
    background: transparent;
    border: 1px solid
     #26374D;
    color: #333;
}

.main-active.btn:hover{
    background: #26374D;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}


/* =================================== WHO WE SERVE ========================================= */
#wws {
    padding: 50px 0;
}

#wws-section {
    height: 900px;
    padding-top: 120PX;
    
}

#wws-title {
    margin-bottom: 25px;
}
.wws {
    padding: 50px 0;
}
.icon{
    margin: 5px 10px;
}

.wws-p {
    margin-top: 45px;
}

#wws-list {
    list-style-position: inside;
    line-height: 400%;
    font-weight: 600;
}



/* =================================== SERVICES ========================================= */

#services {
    padding: 50px 0;
    position:relative;
    top:-40px;
}

.service-img {
    width: 250px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px #999;
    height: 300px;
    object-fit: cover;
}

.services {
    padding: 20px;
}

.services h4 {
    color: #26374D;
    font-weight: 600;
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

/* LINE ABOVE OUR SERVICES */
.title::before {
    content:'';
    background: #EFDE0C;
    height: 5px;
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(60px);
    box-shadow: 5px 5px 10px #999;
}

.title {
    color: #26374D;
    font-family: 'Spectral SC', serif;
    text-transform: uppercase;
    font-weight: 600;
} 

#our-service {
    margin-top: 25px;
}

#services .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    color: #26374D;
}

#service-section {
    height: 1000px;
    padding-top: 100PX; 
    padding-bottom: 120px;
}


/* LINE ABOVE ABOUT US */


/* ============================ PARALLAX ============================ */

#parallax-one {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/startup2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax-two {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/fist-bump.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax-three {
    padding-top: 360px;
    padding-bottom: 360px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/Handshake.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#parallax .parallax-four {
    padding-top: 360px;
    padding-bottom: 360px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../Images/plans.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

/* ============================ ABOUT US ============================ */

#about-us {
    background: #f8f9fa;
    padding-top: 40px;
    margin: auto;
}

#about-us-jump {
    position:relative;
    top:-40px;
}

#about-mission {
    padding-bottom: 50px;
    background: #f8f9fa;
    margin: auto;
}

.about-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    font-family: 'Josefin Sans';
    color: #26374D;
    text-transform: uppercase;
}

.about-video {
    padding: 50px 0 0 15PX;
}

video.about-video {
    padding-bottom: 180px;
}

.about-paragraph {
    padding: 0 0 50px 15PX;
    margin-bottom: 20px;
}


/* ============================ PRODUCTS LANDING PAGE============================ */

#products-landing {
    background: #f8f9fa;
    padding: 75px 0 50px 0;
    margin: auto;
}

.pl-img {
    height: 400px;
    object-fit: contain; /*or scale-down*/
    padding: 5px 20px 5px 20px;
}

.pl-img-move {
    padding: 75px 10px 0 15PX;
}

.pl-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 14%;
    font-family: 'Josefin Sans';
    color: #26374D;
    text-transform: uppercase;
}

.pl-paragraph {
    padding: 0 0 50px 15PX;
    margin-bottom: 20px;
}


.pl-description {

}



/* ============================ OUR PRODUCTS ============================ */

.popup ul,ol {
    padding-left: 0px;
}
.card {
    margin-top: 30px;
}

.popup-header {
    color: #26374D;
    margin-top: 35px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

.pop-paragraph {
    padding-top: 15px;
}

.popup-info {
    margin-top: 5%;
}


#product {
    padding: 80px 0 80px;
}



.product h4 {
    color: #26374D;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

.card-img-top .product-img {
    height: 100%;
    width: 100%;
}

.product-img {
    height: 250px;
    object-fit: contain; /*or scale-down*/
    padding: 5px 20px 5px 20px;
    /* border: 0.5px solid;
    border-color: black;  */
}

.card {
    box-shadow: 5px 5px 10px #999;
    height: 400px;
}

.card-body{
    background-color: #D3D3D3;
    width: 100%;
    padding: 0;
}

#bgcover {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.9;   
    display: none;
    z-index: 95000;
}
.popup{
    position: fixed;
    text-align: center;
    top: 15%;
    width: 800px;
    min-height: 500px;
    margin: auto;
    z-index: 99999;
    display: block;
    left:10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 6px 4px #000;
    overflow: hidden;
    padding: 10px 20px 0 20px;
}

#popup15 {
    overflow-y: auto;
}

.popup-info {
    overflow-y: scroll;
}

#dejavavooz11-list {
    list-style-position: inside;
}

/* ============================ PRICING ============================ */

#pricing {
    padding: 80px 0 90px;
    padding-top: 100px;
}

/* ============================ CONTACT ============================ */

.jumbotron {
    background-image: url(../Images/Handshake.jpeg);
    background-size: cover;
    padding-top: 360px;
}

#contact-section {
    padding-bottom: 100px;
}

.contact-promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
    padding-top: 60px;
    font-family: 'Spectral SC', serif;
}

.contact-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 14%;
    font-family: 'Josefin Sans';
    color: #26374D;
    text-transform: uppercase;
}

.contact-info {
    font-size: 30px;
    font-weight: 600;
}

/* ============================ COMING SOON ============================ */

header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../Images/man_at_river.jpg);
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
}

#cs_header {
    color: #26374D;
    padding-top: 7%;
    height: 100vh;
    font-family: 'Spectral SC', serif;
    font-weight: 600;
}

.hero {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.cs_h1 {
    font-size: 60px;
    letter-spacing: 15px;
}

hr {
    width: 50%;
    margin: 30px auto;
    border: 2px solid #fff;
    font-weight: 600;
}

.cs_p {
    font-size: 20px;
    margin-bottom: 30px;
}

#launch {
    font-size: 40px;
    word-spacing: 20px;
}

/* ============================ INTEGRATION ============================ */

.section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 1200px;
    background: #26374D;
    box-shadow: 0 25px 30px rgba(0,0,0,.5);
    display: flex;
}

.content {
    width: 50%;
    height: 100%;
    background: #26374D;
    box-sizing: border-box;
}

.imageBox {
    width: 50%;
    height: 100%;
    background: #f00;
    box-sizing: border-box;
    border-left: 100px solid #000;
}
/* ============================ PAGINATION ============================ */
.center {
    text-align: center;
  }
  
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #26374D;
    color: white;
    border: 1px solid #26374D;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }


/* ============================ SOCIAL MEDIA ============================ */

#social-media {
    background: #26374D;
    color: white;
    padding: 100PX 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons i {
    color: #fff;
    width: 60px;
    padding-left: 10px;
    transition: 0.5s;
}

.social-icons a:hover i {
    transform: translateY(-10px);
    color: #EFDE0C;
}


/* ============================ MEDIA QUERIES ============================ */
@media only screen and (max-height: 1000px) {
    .popup {
        top: 8%;
        overflow:auto;
    }

 
}
@media only screen and (max-width: 1500px) {

    .mr-auto {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .promo-title {
        text-align: center;
    }

    #header {
        text-align: center;
    }

    .service-img {
        text-align: center;
        padding: 0 5px 0 5PX;
    }

    .product img {
        width: 100%;
    }


    .about-img-move {
        padding: 50px 0 0 15PX;
    }   
  }

  @media only screen and (max-width: 769px) {
     .about-video {
        max-width: 100%;
        height: auto;
        padding: 40px 0 0 15PX;
   } 

   video.about-video {
       padding-bottom: 0;
   }

    .about-paragraph {
        height: auto;
    }
    .popup {
        top: 1%;
        width: 95%;
        height: 100%;
        overflow:auto;
    }

    #about-us {
        background: #f8f9fa;
        margin: auto;
    }

    #about-mission {
        background: #f8f9fa;
        /* padding-top: 25px; */
        margin: auto;
    }

    #wws-section {
        height: auto;
        padding-top: 0PX;
    }

    .jumbotron {
        background-position: center
    }

    #service-section {
        height: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

    #wws-list {
        list-style-position: inside;
        line-height: 0;
        font-weight: 0;
        display: inline-block;
        text-align:left;
    }

    .pl-title {
        margin-top: 0;
    }
    
  }