#header {

  /* /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,55,77,0.008841036414565795) 35%); */
  color: #26374D;
  padding-top: 5%;
  /* text-align: center; */
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  font-family: 'Spectral SC', serif;
  
}

.img-move {
  padding: 50px 0 0 15PX;
}

.main-active.btn{
  margin: 15px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}

.main-active.btn-first{
  background-color: #26374D;
  color: #fff !important;
  text-align: center;
  margin-bottom: 5px;
}

.main-active.btn-second {
  background: transparent;
  border: 1px solid
   #26374D;
  color: #333;
}

.main-active.btn:hover{
  background: #26374D;
  border: none;
  color: #fff;
  box-shadow: 5px 5px 10px #999;
  transition: 0.3s;
}

.card {
  margin-top: 30px;
}

#product {
  padding: 80px 0 80px;
}

.product h4 {
  color: #26374D;
  font-weight: 600;
  padding: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
}

.card-img-top .product-img {
  height: 100%;
  width: 100%;
}

.product-img {
  height: 250px;
  object-fit: contain; /*or scale-down*/
  padding: 5px 20px 5px 20px;
  /* border: 0.5px solid;
  border-color: black;  */
}

.card {
  box-shadow: 5px 5px 10px #999;
  height: 400px;
}

.card-body{
  background-color: #D3D3D3;
  width: 100%;
}

.container#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0,0,0,.30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
